.navBarLink {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5;
}

a.active {
  font-weight: bold;
}

.navBarTools {
  display: flex;
  align-items: center;
}
